*{
 box-sizing: border-box;
 padding:0;
 margin:0;
}

html{
    box-sizing: border-box;
    font-size: 17px;
    line-height: 1.6;
    font-family: 'Source Sans Pro', sans-serif, Segoe UI, Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    color: #878787;
}
*, *::before, *:after{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body{
    margin:0 auto;
    padding:0;
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-size:20px;

    user-select: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;


}
/**** BEGIN HERO SECTION STYLE ****/

#hero{
  display:grid;
  /* grid-template-columns: 2fr 1fr; */
  display: flex;
  height: 450px;
  max-height: 450px;
  margin-top:1em;
  /* background: red; */
  /**The two lines below are temporary**/
  background: url("../templates/imgs/bookstore.jpg");
  background-size: cover;

}
    #hero .img-part{
      background: url("../templates/imgs/bookstore.jpg");
      background-size: cover;

    }
    #hero .form-part{
      width:90%;
      margin:0 auto;
      border: 2px solid #ccc;
      padding:2rem;
      border-radius: 0.3em;
    }
          #hero .form-part form{
            display:grid;
            grid-template-rows: repeat(1fr,3);
            margin-top:2rem;
          }
                #hero .form-part form input[type=text]{
                 margin:5px;
                 border:none;
                 border-bottom: 1px solid #ccc;
                 padding:0.3em;
                 font-size:1.1em;
                 background:#e9ecef;
                 outline:none;
                }
                #hero .form-part form a{
                font-size: 1.8em;
                background-color: #f77f00;
                text-align: center;
                padding:0.1em ;
                border-radius:0.1em;
                color:#fff;
                width:150px;
                padding:

                }
                #hero .form-part form a:hover{
                background-color:#ccc;
                color:var(--greenaple);
                }

/*** END HERO SECTION STYLE ***/


.main-container{
  margin:0 auto;
  width:80%;
  padding:0 0.5rem 2rem 0.5rem;

}

/********  TABLE STYLE ****/

.db-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

.db-table td, .db-table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.db-table tr:nth-child(even){background-color: #f2f2f2;}

.db-table tr:hover {background-color: #ddd;}

.db-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  /* background-color: #4CAF50; */
  background-color:#00509d;
  color: white;
  text-align: center;
}
.db-table .delete{
  color:red;
  background:#d62828;
  color:white;
  padding:0.3em 0.3em;
  border-radius: 3px;

}
.db-table .edit{

  margin-right:15px;
  background:#3a86ff;
  color:#fff;
  padding:0.3em 0.3em;
  border-radius: 3px;
}

/******** END TABLE STYLE ****/

/******** START MAIN-LINKS STYLES ****/
#secondary-menu{
width: 80%;
margin:0 auto;
}
#link-wrapper{
  padding:0 1rem;
  width:100%;
  margin:0 auto;
  display:flex;
  flex-direction: row;
}
#link-wrapper a{
  padding:0;
  color:#00509d;
  flex:1;
  margin:0.2%;
  font-size:1.5rem;
  text-align: center;
  border-bottom:1px solid #ccc;
}

#link-wrapper a:hover{
  /* padding:0.8rem; */
  color:var(--greenaple);
  /* background:#00509d; */

}
#link-wrapper input[type=text]{
  margin:5px;
  border:none;
  border-bottom: 1px solid #ccc;
  padding:0.3em;
  font-size:1.1em;
  background:#e9ecef;
  outline:none;

}
#link-wrapper input[type=submit]{
  background: #f77f00;
  cursor:pointer;
  color:#fff;
  border:none;
  padding:0.3em 1em;
  border-radius: 1em;
}
#link-wrapper input[type=submit]:hover{
  background: #e5e5e5;
  color:var(--greenaple);
}

/******** END MAIN-LINKS STYLES ****/


/*** BEGIN Search RESULT styles ***/
#search-result{
  display:grid;
  grid-template-columns: 25% 25% 20% 28%;
  list-style: none;
}
        #search-result div{
          /* background:red; */
          padding:0 0.4em;

        }
        #search-result .actual-result{
            border-top:none;


        }
        #search-result .actual-result li{
           cursor: pointer;
        }
        #search-result .actual-result li:hover{
           background-color: #e5e5e5;
           /* border-bottom:1px solid #3d405b; */
        }

/** End Search RESULT STYLES **/

/*** BEGIN BOOK DETAIL STYLES**/
#book-details{
  background: #e5e5e5;
  border:1px solid #ccc;
  padding:1em;
  width:18rem;
  height: 15rem;
}


/*** END BOOK DETAILS STYLES ***/

main{
    margin: 1rem auto;
    width:90%;
    max-width: 1200px;

}

main form{
  width:70%;
  margin:0 auto;

}


/*********************
        Form
*********************/
input, label, button{
    padding: 0.2rem 1rem;
    font-size: 1.2rem;
    color: inherit;
}
.form-box{
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
}
.form-box label{
    display: none;
}
.form-box input,
.form-box select,
.form-box textarea{
    flex-basis: 100%;
}
.form-box button{

}
.form-box select option{
  font-size: 1.2rem;
  color: inherit;
  color: #878787;
}

#condition, #category_id, #author_id, #publishers_id, #genre_id,#comment,#book_id{
  font-size: 1.2rem;
  color: inherit;
  color: #878787;
  padding: 0.3em 0.6em;
}


#btnSend{
    margin-right: 5px;
}


/*** START SIGNIN MODAL FORM STYLES **/
#bg-modal{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  /* opacity: 0.7; */
  position: absolute;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
 }
 #modal-content{
   width:600px;
   height: 400px;
   background-color: #fff;
   border-radius: 0.2em;
   position: absolute;
   transform: translate(50%;50%);
   padding: 20px;
   text-align: center;
   position: relative;
   /* background-color: red; */
   opacity: 1;

 }
 #modal-content{
   margin: 0px auto;
 }
 #modal-content input{
   width:80%;
   display: block;
   margin: 15px auto;
   padding:0.4em;

 }

 #modal-content .btn-login{
   border-radius:4rem;
   cursor: pointer;
   margin-left: 1.8em;
   background-color:#adb5bd;
   color:#0081a7;

 }
 #modal-content .btn-login:hover{
   border-radius:4rem;
   cursor: pointer;
   margin-left: 1.8em;
   background-color:#0081a7;
   color:#fff;

 }

#modal-content .close{
  position: absolute;
  top: 0;
  font-size: 40px;
  right: 15px;
  transform: rotate(45deg);
  cursor: pointer;
}

/**FOOTER STYLES***/
#footer{
    width:100%;
    height:150px;
    /* position: absolute; */
    bottom: calc(100vh - 10px);
    /* bottom: 0; */
    background:#222;
    color:#fff;
    text-align:left;
    padding: 50px 50px 50px 100px;

}
.placeholder{
  margin-top:1rem;
  background:#e5989b;
  color:#fff;
  font-size: 1.2em;
  padding:2rem;
}


/*******************************
        Media Queries
*******************************/
@media all and (min-width: 500px){
    .form-box{

    }
    .form-box label{
        display: block;
    }
    .form-box input,
    .form-box select,
    .form-box textarea{

    }
    .form-box button{

    }

}

@media all and (min-width: 600px){
    .form-box{
        flex-direction: row;
    }
    .form-box label{
        flex-basis: 9rem;
        flex-grow: 0;
        flex-shrink: 0;
    }
    .form-box input,
    .form-box select,
    .form-box textarea{
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
    }
    .form-box button{
        margin-left: 9rem;
    }

}
/**** ----- LOWER BUTTON STYLES ------***/

@media only screen and (max-width:768px){
    #link-wrapper{display: flex;flex-direction: column;}

}
