@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap');
:root{
  /* --greyapple:#ecf0f1; */
  --greyapple:#eee;
  --greenaple:#2ecc71;
  /* --greenaple:white; */
  --drakmatter:#34495e;
  --darkermatter:#2c3e50;
  --darkergrey:#ced4da;
}

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: "IBM Plex Sans", Verdana, Tahoma, sans-serif;
}


/************* RESPONSIVE MENU STYLES - BEGIN *****/
    a {
      text-decoration: none;
        /* color:#3a86ff; */
        color:#00509d;
        color: #023047;
        color: #073b4c;
        color:red;

    }
          a:hover{
            color:var(--greenaple);
          }

    nav{
      display: grid;
      grid-template-rows: minmax(min-content,100px) min-conten; */

    }
        nav .content{
          background-color: var(--darkergrey);
          display:grid;
          place-items:center;
          grid-auto-flow: column;
          align-content:space-evenly;
          min-height: 80px;
        }
              nav .content .menu{
                  display: none;
                  color:#3a86ff;
              }
                  nav .content .menu:hover{

                    filter:opacity(30%);
                    cursor: pointer;
                    user-select: none;
                    -webkit-user-select:none;
                  }
              nav .content .links{
                display:grid;
                grid-gap:15px;
                grid-auto-flow: column;
                place-items:center;
                /* font-size: 18px; */
                grid-template-columns: minmax(min-conent,80px);

              }

                   nav .content .links .searchbox{
                     width:330px;
                     padding:10px 10px;
                     border-radius: 3px;
                     border: none;
                     font-size:1.1em;
                   }

                   nav .content .links .btn-search{
                     border:white;
                     background-color:#fb5607;
                     border-radius: 2em;
                     padding:6px 25px;
                     color:#fff;
                   }
                   nav .content .links .btn-search:hover{
                     color:var(--greenaple);
                     background-color:#d8e2dc;

                   }

    nav .dropdown{
      display:grid;
      background-color: var(--drakmatter);
      text-align: center;


    }
        nav .dropdown {
          color:#fff;
          padding-top:30px;
          display:none;
        }
          nav .dropdown a {
            color:#fff;
            padding:20px;

          }
              nav .dropdown a:hover{
                color:var(--greenaple);
                background-color: var(--greyapple);
                margin-top:1px;
              }
          nav .dropdown .searchbox{
              padding:8px;
              font-size:20px;
              border-radius: 4px;
              color:#6c757d;
          }
      nav .cart-notify{
          color:red;
       }

        /**BREAK POINT - RESPONSIVE **/
    @media only screen and (max-width:768px){
        nav .content .menu{display: initial;}
        nav .content .links{display: none;}
    }
/************* END RESPONSIVE MENU STYLES  *****/
