

    <div class="placeholder info">
       <h3>IMPORTANT INFORMATION</h3>
       <div class="p1">
          <p>All features of the bookstore application depend on one thing :
             <b>running/executing</b> the folloiwng command.</p>
          <p>-<i>php install.php</i> </p>

          <h3>Here is how we can run this file</h3>
         <h4>Step 1. Locate the file</h4>
         <p>The file is located inside the 'app' folder. The 'app' folder is inside the
           'Project' folder - which is the home directory of the bookstore application.
           Do this step from the cmd/termianl
         </p>
           <h4>Step 2. Execute the file</h4>
           <p>Now simply type the following in the terminal after changing to the directory where the install.php is located.<br>
             <span style="color:#1d3557; margin-left:1rem;">  php install.php</span> <br>
            This step assumes that the environment is configured and ready for php and sqlite.
           </p>
           <h4>Step 3. Sign up to access the application</h4>
           <p style="color:#1d3557; margin-left:1rem;">This is another important thing to do before attempting to access the application features<br>

            After executing the install.php script, access the index.php file and signup.
           </p>


      </div>
    </div>
